---

version: "2.4"
services:
  aio:
    image: nspccdev/neofs-aio:${AIO_VERSION}
    container_name: aio
    domainname: neofs
    hostname: aio
    restart: always
    stop_signal: SIGKILL
    env_file:
      - "./rest-gw/rest.env"
    volumes:
      - ./sn/cli-cfg.yaml:/config/cli-cfg-sn.yaml
      - ./sn/wallet.json:/config/wallet-sn.json
      - ./sn/config.yaml:/config/config-sn.yaml
      - ./rest-gw/wallet.json:/config/wallet-rest.json
      - ./ir/cli-cfg.yaml:/config/cli-cfg-ir.yaml
      - ./ir/config.yaml:/config/config-ir.yaml
      - data:/data
    ports:
      - "30333:30333" # RPC
      - "8080:8080"   # NeoFS API RPC
      - "16513:16513" # Control service
      - "8090:8090" # REST Gateway endpoint
      - "9000:9000" # S3 Gateway endpoint

  nginx_gw:
    image: nginx:stable-alpine
    domainname: neofs
    hostname: nginx_gw
    container_name: nginx_gw
    restart: on-failure
    stop_signal: SIGKILL
    volumes:
      - ./rest-gw/nginx.conf:/etc/nginx/nginx.conf
      - cache:/cache
    ports:
      - "8082:8082" # nginx gateway endpoint
    depends_on:
      - aio

volumes:
  data:
  cache:
