morph:
  rpc_endpoint:
    - ws://localhost:30333/ws
  dial_timeout: 20s

control:
  grpc:
    endpoint: localhost:16513

node:
  key: /config/wallet-sn.key
  addresses:
    - grpc://localhost:8080
  attribute_0: UN-LOCODE:DE FKS
  attribute_1: Price:10
  attribute_2: Deployed:Private

grpc:
  num: 1
  0:
    endpoint: 127.0.0.1:8080
    tls:
      enables: false

logger:
  level: debug

metrics:
  enabled: false
  address: localhost:6664

profiler:
  enabled: false
  address: localhost:6663

storage:
  shard_num: 1
  shard:
    0:
      writecache:
        enabled: false
      metabase:
        path: /data/metabase.db
        perm: 0770
      blobstor:
        path: /data/blob
        perm: 0660
        blobovnicza:
          opened_cache_capacity: 32
          depth: 1
          width: 1
      gc:
        remover_batch_size: 100
        remover_sleep_interval: 5m

object:
  put:
    pool_size_remote: 100
    pool_size_local: 100

