morph:
  rpc_endpoint:
    - address: ws://localhost:30333/ws
  dial_timeout: 20s

control:
  grpc:
    endpoint: localhost:16513

node:
  wallet:
    path: /config/wallet-sn.json
    password: ""
  addresses:
    - grpc://localhost:8080
  attribute_0: UN-LOCODE:DE FKS
  attribute_1: Price:10
  attribute_2: Deployed:Private

grpc:
  num: 1
  0:
    endpoint: 127.0.0.1:8080
    tls:
      enables: false

tree:
  enabled: true

logger:
  level: debug

prometheus:
  enabled: false
  address: localhost:6664

pprof:
  enabled: false
  address: localhost:6663

storage:
  shard_num: 1
  shard:
    0:
      writecache:
        enabled: false
      metabase:
        path: /data/metabase.db
        perm: 0770
      blobstor:
        - type: blobovnicza
          path: /data/blob/blobovniczas
          perm: 0660
          opened_cache_capacity: 32
          depth: 1
          width: 1
        - type: fstree
          path: /data/blob
      pilorama:
        path: /data/blob/pilorama.db
      gc:
        remover_batch_size: 100
        remover_sleep_interval: 5m

object:
  put:
    pool_size_remote: 100
    pool_size_local: 100

