fschain:
  quota_ttl: 5s
  endpoints:
    - ws://localhost:30333/ws
  dial_timeout: 20s

control:
  grpc:
    endpoint: localhost:16513

node:
  wallet:
    path: /config/wallet-sn.json
    password: ""
  addresses:
    - grpc://0.0.0.0:8080
  attributes:
    - UN-LOCODE:DE FKS
    - Price:10
    - Deployed:Private

grpc:
  - endpoint: 0.0.0.0:8080
    tls:
      enabled: false

logger:
  level: debug

prometheus:
  enabled: false
  address: localhost:6664

pprof:
  enabled: false
  address: localhost:6663

storage:
  shards:
    - writecache:
        enabled: false
      metabase:
        path: /data/metabase.db
        perm: 0770
      blobstor:
        type: fstree
        path: /data/blob
      gc:
        remover_batch_size: 100
        remover_sleep_interval: 5m

object:
  put:
    pool_size_remote: 100
